<%- include('../partials/header') %> 
<div class="contact">
    <h1><%= title %> </h1>
    <hr />
    <h2>Email: mariana.garcia.16@cloud.com</h2>
    <h2>Connect with me: <a href="https://www.linkedin.com/in/marianagarcia1/" target="_blank">LinkedIn</a><i class="fa fa-linkedin-square" style="font-size:40px;"></i></h2>
</div>


<%- include('../partials/footer') %> 