<%- include('../partials/header') %> 

<h1><%= title %> </h1>
<h2>Email: mariana.garcia.16@cloud.com</h2>
<h2>Connect With Me: <a href="https://www.linkedin.com/in/marianagarcia1/" target="_blank">LinkedIn</a></h2>

<%- include('../partials/footer') %> 