<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
    <section class="welcome-page">
      <h1>Hello! My name is Mariana and I am a junior software engineer</h1>
      <a href="/projects">Learn More</a>
    </section>

  </body>
</html>
