

body {
  grid-template-rows: 1fr 3fr;
  background-color: white;
  height: 100vh;
  width: 100%;

}
.nav-bar {
    /* display: flex;  */
    text-align: center;
    justify-content: center;
    height: 60px;
    width: 98%;
   text-align: end;
}

a {
  margin-left: 10px;
  margin-right: 10px;
}

.projects {
  display: flex;
}

.project-title{
  font-weight: bold;
  text-align: center;
  
}


img {
  height: 250px;
  width: 300px;
}
.card-image {
  height: 250px;
  width: 300px;
}

.card {
  height: 500px;
  width: 300px;
}

.logo {
  margin-left: 20px;
  font-size: x-large;
}

.about{
  margin-left: 20px;
}

h2 {
  font-size: larger;

}

.card-action{
  text-align: center;
  height: 60px;
  width: 300px;
}

h1 {
  font-weight:bold;
  font-size: larger;
}

.all-projects {
  text-align: center;
  font-size: x-large;
}

.contact {
  margin-left: 20px;
}

.burger {
  display: none;
}

.burger div{
  margin: 5px;
  width: 20px;
  height: 3px;
  background-color: black;
}

@media (max-width: 750px) {
  body{
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: auto;
  }
  .nav{
    align-items: center;
    justify-content: center;
    width: 1000px;
    text-align: center;
  }
}



/* @media screen and (max-width: 750px){
  body{
    align-items: center;
    justify-content: center;
  }
  
  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right:0px;
    height: 92vh;
    top:8vh;
  }
} */

.resume{
 margin-left: 0;
}