<%- include('../partials/header') %> 
<section class="about">
    <h1><%= title %> </h1>
    <hr />
    <p>I am currently a student at General Assembly Bootcamp. I am part of the Adobe Digital Academy, Software Engineer Program!
        I graduated college with a Bachelors in Psychology. I want to explore how Psychology plays a role in the software engineering world.
    </p>

    <h1>Skills</h1>
    <hr />
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Express</li>
        <li>Node.js</li>
        <li>MongoDB</li>
        <li>Python</li>
    </ul>

    <h1 class="resume"><a href="#" target="_blank">Resume</a></h1>
    <hr />

    <h1>View more at: <a href="https://github.com/marianaG11" target="_blank">Github</a><i class='fa fa-github' style="font-size:40px;"></i></h1>

</section>

<%- include('../partials/footer') %>