<%- include('../partials/header') %> 

<h1><%= title %> </h1>

<p>I am currently a student at General Assembly Bootcamp. I am part of the Adobe Digital Academy, Software Engineer Program</p>

<h2>Skills:</h2>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Express</li>
    <li>Node.js</li>
    <li>MongoDB</li>
    <li>Python</li>
</ul>
<h2>View more at: <a href="https://github.com/marianaG11" target="_blank">Github</a></h2>

<%- include('../partials/footer') %> 