<%- include('../partials/header') %> 

<h3>All Projects</h3>
<div class="projects">
    <div class="row">
        <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
            <img src="images/Game Board.png">
            </div>
            <div class="card-content">
                <p class="project-title">Memory Card Game</p>
                <p>The memory card game was built using HTML, CSS and JavaScript.</p>
            </div>
            <div class="card-action">
                <a href="https://marianag11.github.io/GA-Project-1--Game-/">PLay the game!</a>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
            <img src="images/welcome-page.png">
            </div>
            <div class="card-content">
                <p class="project-title">Chicago Eats</p>
                <p>Chicago Eats is a restaurant guide for places to eat. This project was built using JavaScript, CSS, EJS, Node.js, Express, MongoDB and Google Oauth.</p>
        
            </div>
            <div class="card-action">
                <a href="https://project-2-ga.herokuapp.com">Vist the website!</a>
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="images/album-collector.png">
            </div>
            <div class="card-content">
                <p class="project-title">Album Collector</p>
                <p>Album Collector is an application that shows a collection of my favorite albums. This project was built using Python and Django.</p>
            </div>
            <div class="card-action">
            <a href="#">View the music collection!</a>
            </div>
        </div>
        </div>
    </div>


</div>


<%- include('../partials/footer') %> 
